<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Local League</title>
    <link rel="icon" type="image/x-icon" href="/images/icon-local-league.png">
    <link rel="stylesheet" href="../styles/main-page.css">

    <link rel="stylesheet" href="../styles/main.css">
    <link rel="stylesheet" href="../styles/header.css">
    <link rel="stylesheet" href="../styles/schedule.css">
    <link rel="stylesheet" href="../styles/footer.css">
    <link rel="stylesheet" type="text/css" href="../../tools/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <script src="../javascript/header-footer.js" defer></script>
    <script src="../javascript/matches.js" defer></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</head>

<body>
    <header id="header"></header>

    <main>
        <div class="background">
            <img src="../../background-images/4.jpg" alt="Background Image: Soccer field with a ball on the grass">
            <div class="information-container d-flex flex-column">
                <div class="standings d-flex flex-column">

                </div>
                <div class="schedule-box d-flex flex-column" id="upcoming-matches-container"></div>
                <div class="last-week-results  d-flex flex-column" id="final-matches-container"></div>
            </div>
        </div>
    </main>

    <footer id="footer"></footer>
</body>
</html>