<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Local League</title>
    <link rel="icon" type="image/x-icon" href="/images/icon-local-league.png">
    <link rel="stylesheet" href="../styles/main-page.css">
    <link rel="stylesheet" href="../styles/standings.css">

    <link rel="stylesheet" href="../styles/main.css">
    <link rel="stylesheet" href="../styles/header.css">
    <link rel="stylesheet" href="../styles/matches.css">
    <link rel="stylesheet" href="../styles/footer.css">
    <link rel="stylesheet" type="text/css" href="../../tools/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <script src="../javascript/header-footer.js" defer></script>
    <script src="../javascript/matches.js" defer></script>
    <script src="../javascript/standings.js" defer></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <header id="header"></header>

    <main>
        <div class="background">
            <img src="../../background-images/4.jpg" alt="Background Image: Soccer field with a ball on the grass">
            <div class="information-container custom-container">
                <div class="column">
                    <div class="standings">
                        <div class="standings-table">
                            <table id="teams-table">
                                <thead id="thead"></thead>
                                <tbody id="tbody"></tbody>
                            </table>
                        </div>
                    </div>
                    <div class="schedule-box d-flex flex-column" id="upcoming-matches-container"></div>
                    <div class="last-week-results  d-flex flex-column" id="final-matches-container"></div>
                </div>
            </div>
        </div>
    </main>

    <footer id="footer"></footer>

    <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="login-modal-label" aria-hidden="true">
        <div class="modal-dialog mx-auto" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="login-modal-label">Log In/Register</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="d-inline-block">
                        <form id="login-form">
                            <div class="form-group">
                            <label for="login-email">Email address</label>
                            <input type="email" class="form-control" id="login-email" placeholder="Enter email">
                            </div>
                            <div class="form-group">
                            <label for="login-password">Password</label>
                            <input type="password" class="form-control" id="login-password" placeholder="Password">
                            </div>
                            <button type="submit" class="btn btn-primary">Log In</button>
                        </form>
                    </div>
                    <div class="d-inline-block">
                        <form id="register-form" style="display: none;">
                            <div class="form-group">
                            <label for="register-email">Email address</label>
                            <input type="email" class="form-control" id="register-email" placeholder="Enter email">
                            </div>
                            <div class="form-group">
                            <label for="register-password">Password</label>
                            <input type="password" class="form-control" id="register-password" placeholder="Password">
                            </div>
                            <div class="form-group">
                            <label for="confirm-password">Confirm Password</label>
                            <input type="password" class="form-control" id="confirm-password" placeholder="Confirm Password">
                            </div>
                            <button type="submit" class="btn btn-primary">Register</button>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="toggle-register">Register</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>