<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schedule</title>
    <link rel="icon" type="image/x-icon" href="/images/icon-local-league.png"> <!-- Favicon-->
    <link rel="stylesheet" href="../styles/main.css">
    <link rel="stylesheet" href="../styles/header.css">
    <link rel="stylesheet" href="../styles/schedule.css">
    <link rel="stylesheet" href="../styles/footer.css">
    <link rel="stylesheet" type="text/css" href="../../tools/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <script src="../javascript/header-footer.js" defer></script>
    <script src="../javascript/matches.js" defer></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</head>
<body class="d-flex flex-column">
    <header id="header"></header>

    <main class="main-content">
        <div class="background">
            <img src="../../background-images/5.jpg" alt="Background Image: Soccer field with a ball on the grass">
            <div class="schedule-container d-flex flex-column">
                <div class="schedule-options container d-flex flex-row">
                    <div class="week-picker d-flex align-content-center">
                        <div class="btn-group d-flex flex-row" role="group">
                            <button id="prev-week" type="button" class="btn btn-light">&lt;</button>
                            <button id="current-week" type="button" class="btn btn-light">Mar 3-Mar 10</button>
                            <button id="next-week" type="button" class="btn btn-light">&gt;</button>
                        </div>
                    </div>
                    <div id="calendar-container" style="display:none;">
                        <div id="calendar"></div>
                    </div>
                    <div class="team-selection dropdown d-flex align-content-center">
                        <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-placeholder="All teams">
                        All Teams
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#" data-team="all-teams">All Teams</a>
                            <a class="dropdown-item" href="#" data-team="team1">Team 1</a>
                            <a class="dropdown-item" href="#" data-team="team2">Team 2</a>
                            <a class="dropdown-item" href="#" data-team="team3">Team 3</a>
                        </div>
                    </div>
                </div>
                <div class="matches-container d-flex flex-column" id="matches-container"></div>
            </div>
        </div>
    </main>

    <footer id="footer"></footer>
</body>
</html>