<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schedule</title>
    <link rel="stylesheet" href="../styles/header.css">
</head>
<body>
    <div class="header">
        <div class="header-logo">
            <div class="header-image">
                <img src="../../Photos/header.png" alt="">
            </div>
        </div>
        <nav class="header-options">
            <ul>
                <li>
                    <a href="../main-page/main-page.html">Main Page</a>
                </li>
                <li>
                    <a href="../schedule/schedule.html">Schedule</a>
                </li>
                <li>
                    <a href="../standings/standings.html">Standings</a>
                </li>
                <li>
                    <a href="../account/account.html">Account</a>
                </li>
            </ul>
        </nav>
    </div>
</body>
</html>