<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schedule</title>
    <link rel="icon" type="image/x-icon" href="/images/icon-local-league.png"> <!-- Favicon-->
    <link rel="stylesheet" href="../styles/main.css">
    <link rel="stylesheet" href="../styles/header.css">
    <link rel="stylesheet" href="../styles/schedule.css">
    <link rel="stylesheet" href="../styles/footer.css">
    <link rel="stylesheet" type="text/css" href="../../tools/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <script src="../javascript/schedule.js" async></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</head>
<body class="d-flex flex-column">
    <header class="header">
        <div class="header-logo d-flex justify-content-center align-items-center">
            <div class="header-image">
                <img src="../../images/header.png" alt="">
            </div>
        </div>
        <nav class="header-options d-flex justify-content-center">
            <ul class="d-flex justify-content-around">
                <li>
                    <a href="main-page.html">Main Page</a>
                </li>
                <li>
                    <a href="schedule.html">Schedule</a>
                </li>
                <li>
                    <a href="standings.html">Standings</a>
                </li>
                <li>
                    <a href="account.html">Account</a>
                </li>
            </ul>
        </nav>
    </header>

    <main class="main-content">
        <div class="background-image">
            <img src="../../background-images/4.jpg" alt="Background Image: Soccer field with a ball on the grass">
            <div class="schedule-container d-flex flex-column">
                <div class="schedule-options container d-flex flex-row">
                    <div class="week-picker d-flex align-content-center">
                        <div class="btn-group d-flex flex-row" role="group">
                            <button id="prev-week" type="button" class="btn btn-light">&lt;</button>
                            <button id="current-week" type="button" class="btn btn-light">Mar 3-Mar 10</button>
                            <button id="next-week" type="button" class="btn btn-light">&gt;</button>
                        </div>
                    </div>
                    <div id="calendar-container" style="display:none;">
                        <div id="calendar"></div>
                    </div>
                    <div class="team-selection dropdown d-flex align-content-center">
                        <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-placeholder="All teams">
                        All Teams
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#" data-team="all-teams">All Teams</a>
                            <a class="dropdown-item" href="#" data-team="team1">Team 1</a>
                            <a class="dropdown-item" href="#" data-team="team2">Team 2</a>
                            <a class="dropdown-item" href="#" data-team="team3">Team 3</a>
                        </div>
                    </div>
                </div>
                <div class="matches-container d-flex flex-column"></div>
            </div>
        </div>
    </main>


    <footer class="footer d-flex flex-row justify-content-around align-items-center">
        <div class="footer-page-icon d-flex justify-content-start align-items-center">
            <img src="../../images/icon-local-league.png" alt="">
        </div>

        <div class="footer-links d-flex justify-content-center align-items-start">
            <nav class="footer-links-options d-flex flex-column justify-content-center align-items-start">
                <label for="footer-options">LINKS</label>
                <ul class="footer-options d-flex flex-column">
                    <li>
                        <a href="main-page.html">Main Page</a>
                    </li>
                    <li>
                        <a href="schedule.html">Schedule</a>
                    </li>
                    <li>
                        <a href="standings.html">Standings</a>
                    </li>
                    <li>
                        <a href="account.html">Account</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="footer-contact-info d-flex justify-content-center align-items-start">
            <nav class="footer-contact-info-options d-flex flex-column justify-content-center align-items-start">
                <label for="footer-options">CONTACT INFO</label>
                <ul class="footer-options d-flex flex-column">
                    <li>
                        <a href="https://www.google.com/maps/place/%CE%A4%CE%BC%CE%AE%CE%BC%CE%B1+%CE%97%CE%BB%CE%B5%CE%BA%CF%84%CF%81%CE%BF%CE%BB%CF%8C%CE%B3%CF%89%CE%BD+%CE%9C%CE%B7%CF%87%CE%B1%CE%BD%CE%B9%CE%BA%CF%8E%CE%BD+%CE%BA%CE%B1%CE%B9+%CE%A4%CE%B5%CF%87%CE%BD%CE%BF%CE%BB%CE%BF%CE%B3%CE%AF%CE%B1%CF%82+%CE%A5%CF%80%CE%BF%CE%BB%CE%BF%CE%B3%CE%B9%CF%83%CF%84%CF%8E%CE%BD,+%CE%A0%CE%BF%CE%BB%CF%85%CF%84%CE%B5%CF%87%CE%BD%CE%B9%CE%BA%CE%AE+%CE%A3%CF%87%CE%BF%CE%BB%CE%AE,+%CE%A0%CE%B1%CE%BD%CE%B5%CF%80%CE%B9%CF%83%CF%84%CE%AE%CE%BC%CE%B9%CE%BF+%CE%A0%CE%B1%CF%84%CF%81%CF%8E%CE%BD/@38.288481,21.7881479,18z/data=!3m1!4b1!4m6!3m5!1s0x135e4b2793dd6803:0x52ca8ed18dc0ae06!8m2!3d38.288481!4d21.7892422!16s%2Fg%2F11tryg300w">
                            Electrical and Computer Engineering, University of Patras
                        </a>
                    </li>
                    <li>
                        <a href="mailto:up1072824@upnet.gr,up1072774@upnet.gr">
                            Send us an email
                        </a>
                    </li>
                    <li>
                        <a href="tel:+306948753087">
                            Call us
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="footer-connect-with-us d-flex flex-column justify-content-start align-items-center">
            <label for="connection-icons">CONNECT WITH US</label>
            <div class="connection-icons d-flex flex-row justify-content-around align-items-center">
                <div class="info-box">
                    <a href="https://www.facebook.com/tsaperlein/">
                        <img src="../../images/facebook-logo.png" alt="">
                    </a>
                </div>
                <div class="info-box">
                    <a href="https://twitter.com/tsaperlein">
                        <img src="../../images/twitter-logo.png" alt="">
                    </a>
                </div>
                <div class="info-box">
                    <a href="https://github.com/tsaperlein/Local_League">
                        <img src="../../images/github-logo.png" alt="">
                    </a>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>