<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Standings</title>
    <link rel="stylesheet" href="../styles/standingsStyle.css">
    
    <link rel="stylesheet" href="../styles/main.css">
    <link rel="stylesheet" href="../styles/header.css">
    <link rel="stylesheet" href="../styles/footer.css">
    <link rel="stylesheet" type="text/css" href="../../tools/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <script src="../javascript/header-footer.js" defer></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="../javascript/standings.js" defer></script>
</head>
<body>
    <header id="header"></header>

    <main class="main-content">
        <div class="wallpaper">
            <img src="../../background-images/6.jpg" alt="">
            <div class="standings custom-container">
                <div class="cont column">
                    <div class="standings-choice-buttons-group">
                        <a href="" class="standings-choice-buttons-group-button"><span>Overall</span></a>
                        <a href="" class="standings-choice-buttons-group-button"><span>Home</span></a>
                        <a href="" class="standings-choice-buttons-group-button"><span>Guest</span></a>
                    </div>
                    <div class="standings-table">
                        <table id="teams-table">
                            <thead id="thead"></thead>
                            <tbody id="tbody"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer id="footer"></footer>
</body>
</html>