<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Standings</title>
    <link rel="stylesheet" href="../styles/standingsStyle.css">
    
    <link rel="stylesheet" href="../styles/main.css">
    <link rel="stylesheet" href="../styles/header.css">
    <link rel="stylesheet" href="../styles/footer.css">
    <link rel="stylesheet" type="text/css" href="../../tools/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <script src="../javascript/header-footer.js" defer></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</head>
<body>
    <header id="header"></header>

    <main class="main-content">
        <div class="wallpaper">
            <img src="../../background-images/6.jpg" alt="">
            <div class="standings">
                <div class="standings-table">
                    <table>
                        <tr>
                            <th>RANK #</th>
                            <th>Team</th>
                            <th>Matches</th>
                            <th>W</th>
                            <th>D</th>
                            <th>L</th>
                            <th>PTS</th>
                        </tr>
                        <tr>
                            <td>
                                <div class="rank1">
                                    1.
                                </div>
                            </td>
                            <td>
                                <div class="team">
                                    <img src="../../images/aek.png" alt="">
                                    <div class="team-name">
                                        AEK
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="matches">
                                    27
                                </div>
                            </td>
                            <td>19</td>
                            <td>3</td>
                            <td>5</td>
                            <td>60</td>
                        </tr>
                        <tr>
                            <td>
                                <div class="rank2">
                                    2.
                                </div>
                            </td>
                            <td>
                                <div class="team">
                                    <img src="../../images/pao.png" alt="">
                                    <div class="team-name">
                                        Panathinaikos
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="matches">
                                    27
                                </div>
                            </td>
                            <td>17</td>
                            <td>8</td>
                            <td>2</td>
                            <td>59</td>
                        </tr>
                        <tr>
                            <td>
                                <div class="rank3">
                                    3.
                                </div>
                            </td>
                            <td>
                                <div class="team">
                                    <img src="../../images/osfp.png" alt="">
                                    <div class="team-name">
                                        Olympiakos
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="matches">
                                    27
                                </div>
                            </td>
                            <td>16</td>
                            <td>9</td>
                            <td>2</td>
                            <td>57</td>
                        </tr>
                        <tr>
                            <td>
                                <div class="rank">
                                    4.
                                </div>
                            </td>
                            <td>
                                <div class="team">
                                    <img src="../../images/paok.png" alt="">
                                    <div class="team-name">
                                        PAOK
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="matches">
                                    27
                                </div>
                            </td>
                            <td>17</td>
                            <td>8</td>
                            <td>2</td>
                            <td>59</td>
                        </tr>
                        <tr>
                            <td>
                                <div class="rank">
                                    5.
                                </div>
                            </td>
                            <td>
                                <div class="team">
                                    <img src="../../images/away-team.png" alt="">
                                    <div class="team-name">
                                        Team5
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="matches">
                                    27
                                </div>
                            </td>
                            <td>16</td>
                            <td>9</td>
                            <td>2</td>
                            <td>57</td>
                        </tr>
                        <tr>
                            <td>
                                <div class="rank">
                                    6.
                                </div>
                            </td>
                            <td>
                                <div class="team">
                                    <img src="../../images/home-team.png" alt="">
                                    <div class="team-name">
                                        Team6
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="matches">
                                    27
                                </div>
                            </td>
                            <td>17</td>
                            <td>8</td>
                            <td>2</td>
                            <td>59</td>
                        </tr>
                        <tr>
                            <td>
                                <div class="rank">
                                    7.
                                </div>
                            </td>
                            <td>
                                <div class="team">
                                    <img src="../../images/team2.png" alt="">
                                    <div class="team-name">
                                        Team7
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="matches">
                                    27
                                </div>
                            </td>
                            <td>16</td>
                            <td>9</td>
                            <td>2</td>
                            <td>57</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </main>

    <footer id="footer"></footer>
</body>
</html>