<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teams</title>
    <link rel="stylesheet" href="../styles/teamsStyle.css">

    <link rel="stylesheet" href="../styles/main.css">
    <link rel="stylesheet" href="../styles/header.css">
    <link rel="stylesheet" href="../styles/footer.css">
    <link rel="stylesheet" type="text/css" href="../../tools/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <script src="../javascript/header-footer.js" defer></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</head>
<body>
    <header id="header"></header>

    <main class="main-content">
        <div class="wallpaper">
            <img src="../../background-images/6.jpg" alt="">
        </div>
        <div class="container">
            <div class="team-icon">
                <img src="../../images/aek.png" alt="">
            </div>
            <div class="team-lineup">
                <img src="../../lineups/aek-lineup.png" alt="">
            </div>
            <div class="field">
                <h2>Team field: OPAP Arena Αγιά Σοφιά</h2>
                <img src="../../fields/aek-opap-arena.jpg" alt="">
            </div>
        </div>
    </main>

    <footer id="footer"></footer>
</body>
</html>