<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teams</title>
    <link rel="stylesheet" href="../styles/teamsStyle.css">
    <link rel="stylesheet" href="../styles/standings.css">

    <link rel="stylesheet" href="../styles/main.css">
    <link rel="stylesheet" href="../styles/header.css">
    <link rel="stylesheet" href="../styles/footer.css">
    <link rel="stylesheet" type="text/css" href="../../tools/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <script src="../javascript/header-footer.js" defer></script>
    <script src="../javascript/teams.js" defer></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body class="d-flex flex-column">
    <header id="header"></header>

    <main class="main-content">
        <div class="background">
            <img id="background-img" src="../../background-images/6.jpg" alt="Background Image of a soccer field">
            <div class="team-container custom-container d-flex flex-column flex-wrap justify-content-center align-items-center">
                <div class="lineup-field-container d-flex flex-row justify-content-around">
                    <div class="team-lineup">
                        <img class="team-lineup-img" src="../../lineups/aek-lineup.png" alt="Lineup of the players">
                    </div>
                    <div class="field-info">
                        <img class="field-img" src="../../fields/aek-opap-arena.jpg" alt="Field of AEK">
                        <a href="https://www.google.com/maps/place/%CE%93%CE%AE%CF%80%CE%B5%CE%B4%CE%BF+%CE%91%CE%95%CE%9A+%CE%9F%CE%A0%CE%91%CE%A0+%CE%91%CF%81%CE%AD%CE%BD%CE%B1/@38.0371755,23.7247421,15z/data=!3m1!4b1!4m6!3m5!1s0x14a1a3c320ca2e4f:0x74149d3e47aa9534!8m2!3d38.0371598!4d23.7416294!16s%2Fm%2F0zdkkpv">Γήπεδο Αγίας Σοφίας</a>
                    </div>
                </div>
                <div class="player-info">
                    <table id="players-table">
                        <thead id="thead"></thead>
                        <tbody id="tbody"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>

    <footer id="footer"></footer>
</body>
</html>