<div class="background">
    <img class="background-img" src="/background-images/4.jpg" alt="Background Image: Soccer field with a ball on the grass">
    <div class="information-container custom-container">
        <div class="column">
            <div class="standings">
                <div class="standings-table">
                    <table id="teams-table">
                        <thead id="thead"></thead>
                        <tbody id="tbody"></tbody>
                    </table>
                </div>
            </div>
            <div class="schedule-box d-flex flex-column" id="upcoming-matches-container"></div>
            <div class="last-week-results  d-flex flex-column" id="final-matches-container"></div>
        </div>
    </div>
</div>