<div class="background">
    <img class="background-img" src="/background-images/6.jpg" alt="">
    <div class="standings custom-container">
        <div class="cont column">
            <div class="standings-choice-buttons-group">
                <a href="" class="standings-choice-buttons-group-button"><span>Overall</span></a>
                <a href="" class="standings-choice-buttons-group-button"><span>Home</span></a>
                <a href="" class="standings-choice-buttons-group-button"><span>Guest</span></a>
            </div>
            <div class="standings-table">
                <table id="teams-table">
                    <thead id="thead"></thead>
                    <tbody id="tbody"></tbody>
                </table>
            </div>
        </div>
    </div>
</div>