<div class="background">
    <img id="teams-background-img" class="background-img" src="/background-images/6.jpg" alt="Background Image of a soccer field">
    <div class="team-container container d-flex flex-column flex-wrap justify-content-center align-items-center">
        <div class="lineup-field-container d-flex flex-row justify-content-around">
            <div class="team-lineup"></div>
            <div class="field-info"></div>
        </div>
        <div class="player-info">
            <table id="players-table">
                <thead id="thead"></thead>
                <tbody id="tbody"></tbody>
            </table>
        </div>
    </div>
</div>