<div class="background">
    <img id="teams-background-img" class="background-img" src="/background-images/6.jpg" alt="Background Image of a soccer field">
    <div class="team-container container d-flex flex-column flex-wrap justify-content-center align-items-center">
        <div class="lineup-field-container d-flex flex-row justify-content-around">
            {{#if status}}
                <div class="team-lineup">
                    {{!-- {{#each teams}} --}}
                    <img src="/lineups/{{lineup}}" class="team-lineup-img" alt="Lineup of the players">
                    {{!-- {{/each}} --}}
                </div>
                <div class="field-info">
                    {{!-- {{#each teams}} --}}
                    <img src="/fields/{{fieldLink}}" class="field-img" alt="{{fieldName}}">
                    <a href="https://www.google.com/maps/place/%CE%93%CE%AE%CF%80%CE%B5%CE%B4%CE%BF+%CE%91%CE%95%CE%9A+%CE%9F%CE%A0%CE%91%CE%A0+%CE%91%CF%81%CE%AD%CE%BD%CE%B1/@38.0371755,23.7247421,15z/data=!3m1!4b1!4m6!3m5!1s0x14a1a3c320ca2e4f:0x74149d3e47aa9534!8m2!3d38.0371598!4d23.7416294!16s%2Fm%2F0zdkkpv">{{fieldName}}</a>
                    {{!-- {{/each}} --}}
                </div>
            {{/if}}
        </div>
        <div class="player-info">
            <table id="players-table">
                <thead id="thead"></thead>
                <tbody id="tbody"></tbody>
            </table>
        </div>
    </div>
</div>