div.footer * {
    list-style: none;
    font-family: Comfortaa, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    transition: all 0.3s ease-in-out;
}

div.footer label {
    font-weight: 600;;
    font-size: 2vw;
    color: #00ff0d;
}

div.footer a {
    font-size: 1.5vw;
}

div.footer li a {
    color: #fff;
    text-decoration: none;
}

.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    min-height: auto;
    transition: all 0.5s ease-in-out;
    background-color: rgb(20, 63, 72);
    position: static;
    bottom: 0;
    width: 100%;
    height: 15vw;
}

div.footer-page-icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    width: auto;
    height: 12vw;
}

div.footer-page-icon img {
    width: auto;
    height: 100%;
}

.footer-links,
.footer-contact-info {
    display: flex;
    justify-content: center;
    align-items: start;
    height: 70%;
}

.footer-contact-info {
    width: 30%;
}

.footer-contact-info-options
.footer-links-options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.footer-connect-with-us {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 70%;
}

.connection-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 15vw;
    height: 70%;
}

.info-box:last-child {
    margin-right: 0;
}

.info-box a img {
    max-width: 4vw;
    max-height: 4vw;
    object-fit: cover;
}

@media (min-width: 1650px) {
    div.footer a {
        font-size: 24px;
    }

    div.footer label {
        font-size: 34px;
    }

    .info-box a img {
        max-width: 2.5vw;
        max-height: 2.5vw;
    }
}

@media (max-width: 800px) {
    .footer-options li {
        justify-content: center;
        align-items: center;
        padding-top: 3px;
    }

    div.footer a {
        font-size: 12px;
    }

    div.footer label {
        font-size: 16px;
    }

    .connection-icons {
        width: 25vw;
    }

    .info-box a img {
        max-width: 30px;
        max-height: 30px;
    }

    .footer {
        height: 130px;
    }
}