footer * {
    list-style: none;
    font-family: Comfortaa, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    transition: all 0.3s ease-in-out;
}

footer label {
    font-weight: 600;;
    font-size: 2vw;
    color: #00ff0d;
}

footer a {
    font-size: 1.5vw;
}

footer li a {
    color: #fff;
    text-decoration: none;
}

footer li a:hover {
    color: #c9c9c9;
}

footer div.info-box:hover {
    filter: drop-shadow(0 0 10px rgb(0, 0, 0, 0.8));
}

footer {
    transition: all 0.5s ease-in-out;
    background-color: rgb(20, 63, 72);
    position: static;
    bottom: 0;
    width: 100%;
    height: 20vw;
}

.footer-page-icon {
    width: auto;
    height: 12vw;
}

.footer-page-icon img {
    width: auto;
    height: 100%;
}

.footer-links,
.footer-contact-info,
.footer-connect-with-us {
    height: 70%;
}

.footer-contact-info {
    width: 30%;
}

.connection-icons {
    width: 15vw;
    height: 70%;
}

.info-box a img {
    max-width: 4vw;
    max-height: 4vw;
    object-fit: cover;
}

@media (min-width: 1650px) {
    footer a {
        font-size: 24px;
    }

    footer label {
        font-size: 34px;
    }

    .info-box a img {
        max-width: 2.5vw;
        max-height: 2.5vw;
    }
}

@media (max-width: 800px) {
    .footer-options li {
        justify-content: center;
        align-items: center;
        padding-top: 3px;
    }

    footer a {
        font-size: 12px;
    }

    footer label {
        font-size: 16px;
    }

    .connection-icons {
        width: 25vw;
    }

    .info-box a img {
        max-width: 30px;
        max-height: 30px;
    }

    footer {
        height: 170px;
    }
}

@media (max-width: 450px) {
    footer label {
        font-weight: 600;
        font-size: 2.5vw;
    }
    
    footer a {
        font-size: 2vw;
    }
    
    footer {
        height: 130px;
    }
    
    .footer-page-icon {
        width: auto;
        height: 70px;
    }
    
    .footer-page-icon img {
        width: auto;
        height: 100%;
    }
    
    .footer-links,
    .footer-contact-info,
    .footer-connect-with-us {
        height: 70%;
    }
    
    .footer-contact-info {
        width: 30%;
    }
    
    .connection-icons {
        width: 100px;
        height: 70%;
    }
    
    .info-box a img {
        max-width: 25px;
        max-height: 25px;
        object-fit: cover;
    }
}