@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

html {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  font-size: 2vw;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 999;
  font-family: Comfortaa, Helvetica, sans-serif;
}

.header-logo {
  min-height: auto;
  transition: all 0.5s ease-in-out;
  background-color: black;
}

.header-image img {
  max-width: 65vw;
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: all 0.5s ease-in-out;
  margin: 0 auto;
}

li button.login-register-button {
  color: white;
  font-size: 1.5vw;
  font-weight: 600;
}

li button.login-register-button:hover {
  color: gray;
}

@media (max-width: 800px) {

  /* Mobile */
  .header-image img {
    max-width: 500px;
  }

  nav.header-options ul {
    max-width: auto;
  }
}

@media (min-width: 1100px) {

  /* Desktop */
  nav.header-options ul li a {
    font-size: 1.5vw;
  }
}

nav.header-options {
  position: sticky;
  height: 4vw;
  transition: all 0.3s ease-in-out;
  background-color: rgba(33, 104, 120, 1);
}

nav.header-options ul {
  width: 100%;
  height: 100%;
  list-style-type: none;
  max-width: 75vw;
  padding: 0 auto;
}

nav.header-options ul li {
  height: 100%;
  transition: all 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

nav.header-options ul li a {
  text-decoration: none;
  color: white;
  font-weight: 600;
  transition: all 0.1s ease-in-out;
}

nav.header-options ul li:hover {
  padding: 0 20px;
  background-color: rgba(0, 0, 0, 0.2);
  transition: all 0.1s ease-in-out;
}

nav.header-options:hover {
  background-color: rgba(60, 104, 120, 1);
  transition: opacity 0.3s ease-in-out;
}

nav.header-options:hover a {
  color: rgb(177, 177, 177);
  transition: all 0.3s ease-in-out;
}

nav.header-options li:hover a {
  color: white;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

nav.header-options ul li a:hover {
  color: white;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

/* button.login-register-button {
  background-color: rgb(21, 65, 75);
  color: white;
}

button.login-register-button:hover {
  color: white;
} */

@media (max-width: 800px) {
  .header-image img {
    min-width: 500px;
  }

  nav.header-options ul {
    max-width: auto;
  }
}

@media (max-width: 1200px) {
  .header-logo {
    height: 7vw;
  }
}

@media (min-width: 1750px) {
  nav.header-options {
    height: 20px;
  }
}

@media (min-width: 1500px) {
  .header-logo {
    height: 5vw;
  }

  nav.header-options ul li a {
    font-size: 18px;
  }

  nav.header-options {
    height: 2.5vw;
  }

  .header-image img {
    max-width: 50vw;
    width: 100%;
    height: auto;
  }
}

/* Mobile Devices */
@media (max-width: 450px) {
  .header-logo {
    height: 12vw;
  }

  .header-image img {
    max-width: 100px;
  }

  nav.header-options {
    height: 20px;
  }

  nav.header-options ul {
    max-width: 85vw;
  }

  nav.header-options ul li {
    padding: 0 10px;
  }

  nav.header-options ul li:hover {
    padding: 0 10px;
  }
}