.background {
    position: relative;
    height: 150vh;
    overflow: hidden;
}

.background img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.information-container {
    height: calc(100% - 100px);
    width: calc(100% - 12vw);
    position: relative;
    margin-top: 4vw;
    padding: 10px 30px;
    border-radius: 1vw;
    z-index: 1;
    left: 6vw;
}

.standings,
.last-week-results,
.schedule-box {
    margin-bottom: 5vw;
    height: 100%;
    width: 100%;
    padding: 2vw 2vw;
    background-color: rgba(240, 248, 255, 0.819);
    border-radius: 1vw;
    z-index: 1;
}

@media (max-width: 768px) {
    .information-container {
        margin-top: 70px;
    }
}

@media (max-width: 420px) {
    body {
        margin: 0;
        padding: 0;
    }

    .background {
        height: 150vh;
    }

    .information-container {
        width: calc(100% + 1vw);
        margin-top: 20px;
        left: -0.5vw;
        height: 1200px;
    }
    
    .standings,
    .last-week-results,
    .schedule-box {
        padding: 2vw 2vw;
        border-radius: 2vw;
        z-index: 1;
    }
}