.background {
    position: relative;
    max-height: fit-content;
    overflow: hidden;
}

/* Always shows the center of the image */
.background img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.information-container {
    max-height: 100%;
    position: relative;
    margin-top: 2rem;
    padding: 10px 30px;
    border-radius: 1vw;
}

.standings,
.last-week-results,
.schedule-box {
    margin-bottom: 5vw;
    height: 100%;
    width: 100%;
    padding: 2vw 2vw;
    background-color: rgba(240, 248, 255, 0.7);
    border-radius: 1vw;
}

/* Fix corners for mobile */
@media (max-width: 450px) {

    .standings,
    .last-week-results,
    .schedule-box {
        padding: 2vw 2vw;
        border-radius: 2vw;
    }
}