body ul {
    margin: 0;
    padding: 0;
}

.background {
    position: relative;
    max-height: 100%;
    overflow-x: hidden;
}

/* Always shows the center of the image */
.background img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* Fix the margin of the schedule container */
.schedule-container {
    background-color: rgba(240, 248, 255, 0.819);
    position: relative;
    padding: 10px 0;
    max-height: 100%;
    max-width: 95%;
    margin: 4vw 0;
    border-radius: 1vw;
    z-index: 1;
}

.btn-group {
    border-radius: 5px;
}

.team-selection button {
    border-radius: 3px;
}

div.schedule-options {
    width: 100%;
    margin: 0;
    padding: 0;
}

div.schedule-options * {
    margin: 0;
    padding: 0;
}

.btn-group button#current-week {
    width: 15vw;
}

.btn-group button#previous-week,
.btn-group button#next-week {
    width: 3vw;
}

.team-selection button {
    width: 13vw;
}

.btn-group,
.team-selection {
    height: 100%;
}

.team-selection button,
.btn-group button {
    border: 1px solid rgba(129, 129, 129, 0.2);
    border-radius: 5px;
    height: 100%;
}

.btn-group button,
.team-selection button {
    font-size: 6px;
}

.team-selection button {
    margin-left: 10px;
}

/* Buttons */
div.schedule-options {
    height: 5vw;
    width: 100%;
    margin: 20px 0;
}

.dropdown-item {
    font-size: 1.5vw;
}

.week-picker {
    margin-right: 20px;
}

.btn-group,
.team-selection button {
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
}

.team-selection button {
    border-radius: 5px;
}

.week-picker {
    border-radius: 8px;
}


.btn-group button,
.team-selection button {
    font-size: 2vw;
}

.btn-group button {
    border: 1px solid rgba(129, 129, 129, 0.2);
}

@media (max-width: 450px) {

    /* Fix the margin of the schedule container */
    .schedule-container {
        margin: 6vw 0;
        border-radius: 2vw;
    }

    .btn-group {
        border-radius: 5px;
    }

    .team-selection button {
        border-radius: 3px;
    }

    div.schedule-options {
        height: 20px;
        width: 150px;
        margin: 0;
        margin-bottom: 10px;
        padding: 0;
    }

    div.schedule-options * {
        margin: 0;
        padding: 0;
    }


    .btn-group {
        background-color: none;
    }

    .btn-group button#current-week {
        width: 50px;
    }

    .btn-group button#previous-week,
    .btn-group button#next-week {
        width: 10px;
    }

    .dropdown-item {
        font-size: 6px;
    }

    .week-picker {
        width: 70px;
        margin-right: 20px;
    }

    .team-selection {
        width: 50px;
    }

    .team-selection button,
    .btn-group {
        border: 1px solid rgba(129, 129, 129, 0.2);
        border-radius: 5px;
        height: 100%;
    }

    .btn-group button,
    .team-selection button {
        font-size: 6px;
    }

    .team-selection button {
        margin-left: 5px;
    }
}