body ul {
    margin: 0;
    padding: 0;
}

.background {
    position: relative;
    height: 200vh;
    overflow-x: hidden;
}

/* Always shows the center of the image */
.background img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* Fix the margin of the schedule container */
.schedule-container {
    background-color: rgba(240, 248, 255, 0.819);
    height: calc(100% - 100px);
    width: calc(100% - 16vw);
    position: relative;
    margin-top: 4vw;
    padding: 10px 30px;
    border-radius: 1vw;
    z-index: 1;
    left: 8vw;
}

div.schedule-options {
    height: 40px;
    width: 100%;
    margin: 20px 0 30px 0;
}

.dropdown-item {
    font-size: 16px;
}

.matches-wrapper .match.bordered-bottom {
    border-bottom: 1px solid rgba(128, 128, 128, 0.4);
}

/* Buttons */
.team-selection,
.week-picker {
    height: 100%;
}

.week-picker {
    margin-right: 10px;
}

.team-selection button,
.btn-group {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
}

.btn-group button {
    border: 1px solid rgba(129, 129, 129, 0.2);
}

/* Date */
.match-date {
    margin-bottom: 0.5vw;
}

.match-date li {
    list-style: none;
    font-size: 1.8vw;
    padding-left: 5px;
    font-weight: 700;
}

/* Match Information */
.match-information {
    height: 6vw;
    padding: 5px 20px;
    border-radius: 7px;
    transition: all 0.1s ease-in-out;
}

.match-information:hover {
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
    transition: all 0.1s ease-in-out;
    margin: 0 -5px;
}

/* MATCH */
.current-state li {
    width: 100px;
    height: 100%;
    font-size: 1.2vw;
    font-weight: 600;
}

.team {
    margin: 0 0.8vw;
}

.team img {
    position: relative;
    width: auto;
    height: 2.5vw;
}

.teams-score {
    width: 50%;
}

.teams-score label {
    position: relative;
    font-size: 2vw;
    font-weight: 500;
}

.match-time {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 5vw;
}

.score {
    background-color: lightgray;
    border-radius: 0.5vw;
    width: 6vw;
    height: 3vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.score li {
    font-size: 2vw;
    font-weight: 500;
}

.score.winning-score {
    color: black;
}

.score.losing-score {
    color: gray;
}

.line {
    border-left: 0.1vw solid rgb(158, 158, 158);
    height: 1.8vw;
    margin: 0 0.5vw;
}

/* Referee */
.extra-information {
    width: 14vw;
}

.extra-information li {
    font-size: 0.9vw;
}

li.field-name {
    color: gray
}

/* Appropriate screen for phones */
@media only screen and (max-width: 400px) {
    /*  */
}