body{
    background-image: url("../../images/llwallpaper.png");
    background-position: absolute;
    width: 1881px;
    height: 3112px;
    left: -75px;
    top: 304px;
    background-size: cover;
    background-repeat: no-repeat;
}