.wallpaper img{
    background-size: cover;
    max-width: 100vw; /* Set width to 65% of viewport */
    width: 100%; 
    height: auto;
    background-repeat: no-repeat;
    transition: all 0.2s ease-in-out;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: auto;
    transition: all 0.5s ease-in-out;
    background-color: rgb(255, 255, 255);
    position: static;
    bottom: 0;
    width: 100%;
    height: auto;
}