main * {
    margin: 0;
    padding: 0;
    z-index: 1;
    font-size: 2vw;
}

.background {
    position: relative;
    max-height: fit-content;
    overflow-x: hidden;
}

img#background-img {
    z-index: 0;
}

/* Always shows the center of the image */
#background-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.team-container {
    background-color: rgba(255, 255, 255, 0.7);
    position: relative;
    padding: 10px 0;
    max-height: 100%;
    max-width: 100%;
    margin: 4vw 0;
    border-radius: 2vw;
    z-index: 1;
}

.lineup-field-container {
    max-width: 100%;
    margin: 0;
}

.team-lineup,
.field-info {
    max-width: 50%;
    width: 100%;
    margin: 2vw;
}

@media (min-width: 1400px) {
    .team-lineup,
    .field-info {
        max-width: 40%;
    }
}

.team-lineup img,
.field-info img {
    height: 100%;
    width: 100%;
    border-radius: 1vw;
    object-fit: cover;
}

.field-info {
    display: flex;
    flex-direction: column;
    background-color: black;
    align-items: center;
    border-radius: 1vw;
}

.field-info a {
    font-style: italic;
    color: lightgray;
    width: fit-content;
}

.field-info a:hover {
    color: rgb(229, 229, 229);
    text-decoration: none;
}

/* ------------- Players Table ----------- */
.player-info {
    padding: 2vw auto;
    margin: 2vw;
    max-width: 95%;
    position: relative;
    border-radius: 1.5vw;
    background-color: rgba(255, 255, 255, 0.6);
    overflow-x: scroll;
}

#players-table th,
#players-table td {
    white-space: nowrap;
}

.player-info table td {
    white-space: nowrap;
    padding: 0.5vw 1.5vw;
    text-align: center;
}

table#players-table thead tr th {
    padding: 1.5vw 1vw;
    text-align: center;
    white-space: nowrap;
}

tbody td {
    min-width: 10vw;
}

thead,
tbody {
    position: sticky;
}

th.name-btn,
td.name-sticky {
    position: sticky;
    left: 0;
    background-color: rgb(70, 70, 70);
    z-index: 2;
}

td.name-sticky {
    padding: 0 1vw;
    color: white;
}


a.header-button {
    width: fit-content;
    margin: 0 auto;
    padding: 0.5vw;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 1vw;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.7);
    text-decoration: none;
    color: black;
    position: relative;
    cursor: pointer;
}

thead th a.header-button:hover {
    background-color: rgba(231, 231, 231, 0.7);
}