.wallpaper {
    position: relative; /* Make sure the child element is positioned relative to this */
    height: 150vh; /* Set the height of the container to 100vh */
    overflow-x: hidden; /* Allow overflow content */
}

.wallpaper img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.team-icon{
    background-color: rgba(255, 255, 255, 0.6);
    position: absolute;
    top: calc(50% - 22vh);
    left: calc(50% - 40vw);
    height: 35vw;
    width: 30vw;
    transition: ease-in-out 0.5s;
    border-radius: 2vw;
}

.team-icon img{
    position: relative;
    height: auto;
    width: 25vw;
    transition: ease-in-out 0.5s;
    top: calc(50% - 12.5vw);
    left: calc(50% - 12.5vw);
}

.team-lineup img{
    position: absolute;
    top: calc(50% - 30vh);
    left: 50%;
    height: auto;
    width: 40vw;
    transition: all ease-in-out 0.5s;
}

.field{
    background-color: rgba(255, 255, 255, 0.6);
    position: absolute;
    top: calc(50% + 50vh);
    left: calc(50% - 15vw);
    width: 60vw;
    height: auto;
    transition: all ease-in-out 0.5s;
    border-radius: 2vw;
}

.field img{
    position: relative;
    height: auto;
    width: 100%;
}

h3{
    font-weight: bold;
}