.wallpaper {
    position: relative; /* Make sure the child element is positioned relative to this */
    height: 150vh; /* Set the height of the container to 100vh */
    overflow-x: hidden; /* Allow overflow content */
}

.wallpaper img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    object-fit: cover;
}



.team-icon img{
    position: absolute;
    top: 29%;
    left: 22%;
    transform: translate(-50%, -50%);
    height: 30vh;
    width: 33vw;
    object-fit: cover;
}

.position-field{
    display: grid;
}

.position-field img{
    position: absolute;
    top: 45%;
    left: 75%;
    transform: translate(-50%, -50%);
    height: 60vh;
    width: 43vw;
    object-fit: cover;
}