@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

* {
  margin: 0;
  padding: 0;
}

.header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 2;
  font-family: Comfortaa, Helvetica, sans-serif;
  background-color: black;
}

.header-logo {
  position: relative;
  width: 100%;
  height: fit-content;
  transition: all 0.5s ease-in-out;
  background-color: black;
}

.header-image img {
  width: clamp(40rem, 42vw, 90rem);
  height: 100%;
  object-fit: cover;
  transition: all 0.5s ease-in-out;
  margin: 0 auto;
}

nav.header-options {
  position: relative;
  width: 100%;
  height: clamp(3rem, 3vw, 5rem);
  transition: all 0.3s ease-in-out;
  background-color: rgba(33, 104, 120, 1);
}

nav.header-options ul {
  width: 100%;
  height: 100%;
  list-style-type: none;
  max-width: 75vw;
}

nav.header-options ul li {
  height: 100%;
  transition: all 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

/* Dont add padding for the last li */
nav.header-options ul .dropdown-li {
  padding: 0;
}

nav.header-options ul li:hover {
  padding: 0 20px;
  background-color: rgba(0, 0, 0, 0.2);
  transition: all 0.1s ease-in-out;
}

nav.header-options ul .dropdown-li:hover {
  padding: 0;
}

nav.header-options ul li a {
  text-decoration: none;
  white-space: nowrap;
  color: white;
  font-weight: 600;
  font-size: clamp(1rem, 1.8vw, 2.5rem);
  transition: all 0.1s ease-in-out;
}

nav.header-options ul li a:hover {
  color: white;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

nav.header-options:hover {
  background-color: rgba(60, 104, 120, 1);
  transition: opacity 0.3s ease-in-out;
}

nav.header-options:hover a {
  color: rgb(177, 177, 177);
  transition: all 0.3s ease-in-out;
}

nav.header-options li:hover a {
  color: white;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.header-team-selector {
  position: relative;
  width: 100%;
  height: clamp(3rem, 5vw, 7rem);
  background-color: rgb(160, 160, 160);
  transition: all 0.3s ease-in-out;
}

.header-team {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  cursor: pointer;
  padding: clamp(0.5rem, 1vw, 1rem) 0;
}

.header-team:hover {
  background-color: rgba(130, 130, 130, 0.5);
  transition: all 0.3s ease-in-out;
}

.header-team a {
  height: 100%;
  display: flex;
  align-items: center;
}

.header-team img {
  height: 100%;
  width: auto;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 800px) {

  nav.header-options ul {
    max-width: auto;
  }
}

/* Mobile Devices */
@media (max-width: 450px) {

  nav.header-options ul {
    max-width: 85vw;
  }

  nav.header-options ul li {
    padding: 0 10px;
  }

  nav.header-options ul li:hover {
    padding: 0 10px;
  }
}

#signin-signup-modal {
  display: none;
  overflow: hidden;
  z-index: 990;
  background-color: rgba(0, 0, 0, 0.4);
}

#signin-signup-modal .modal-content {
  width: fit-content;
  height: max-content;
  padding: clamp(1.5rem, 2vw, 3rem);
  padding-left: clamp(1.5rem, -2vw, 0);
  padding-right: clamp(1.5rem, 3vw, 6rem);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url("https://www.montgomerycountymd.gov/rec/Resources/Images/soccer1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: row;
}

@media (min-width: 1000px) {

  #signin-signup-modal .modal-content {
    padding-left: 0;
  }
}

@media (max-width: 576px) {

  #signin-signup-modal .modal-content {
    margin: 8vw;
  }
}

.form-group * {
  width: fit-content;
  height: fit-content;
}

div.form-group {
  gap: clamp(0.2rem, 1vw, 1rem);
}

.modal-side {
  gap: clamp(0.5rem, 1vw, 1rem);
}

.modal h2 {
  font-size: clamp(1.5rem, 3vw, 4rem);
  color: white;
}

.modal label {
  font-size: clamp(0.8rem, 1.5vw, 1.6rem);
  font-family: Comfortaa, Helvetica, sans-serif;
  color: white;
  white-space: nowrap;
}

.modal input {
  width: 100%;
  height: 100%;
  padding: 1rem;
  border: none;
  border-radius: 5px;
  border: 2px solid rgb(177, 177, 177, 0.5);
  font-size: clamp(0.8rem, 1.5vw, 2rem);
  font-family: Comfortaa, Helvetica, sans-serif;
  opacity: 1;
}

span.close-btn {
  font-family: Comfortaa, Helvetica, sans-serif;
  font-size: clamp(1.5rem, 2vw, 3rem);
  color: white;
  position: absolute;
  top: 0;
  right: 0;
  width: fit-content;
  height: fit-content;
  margin-top: 1rem;
  margin-right: 2rem;
  cursor: pointer;
}

span.close-btn:hover {
  cursor: pointer;
  opacity: 0.6;
  transition: all 0.3s ease-in-out;
}

.form-group label {
  display: flex;
  justify-content: end;
  align-self: center;
}

.error-message {
  margin-top: 0.5rem;
  padding: 0.1rem 0.5rem;
  background-color: rgba(255, 255, 255, 0.8);
  color: rgb(255, 0, 0);
  font-size: clamp(0.8rem, 1.5vw, 1.6rem);
  border-radius: 0.5rem;
}

#signin-signup-modal button {
  font-size: clamp(1rem, 1.5vw, 2rem);
}

#signin-signup-modal button:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}

/* Log Out */
.dropbtn {
  background-color: inherit;
  color: white;
  border: none;
  height: 100%;
  width: 100%;
  padding: 0 20px;
  font-size: clamp(1rem, 1.8vw, 2.5rem);
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  height: 100%;
  width: fit-content;
}

.dropdown-content {
  display: none;
  position: absolute;
  /* Have the same width as the parent */
  height: clamp(3rem, 3vw, 5rem);
  z-index: 1;
  width: 100%;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.dropdown-content button {
  border: 0;
  font-size: clamp(1rem, 1.5vw, 2rem);
  white-space: nowrap;
  background-color: rgba(33, 104, 120);
  height: 100%;
  width: 100%;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

/* Change color of dropdown links on hover */
.dropdown-content button:hover {
  background-color: rgb(27, 84, 96);
  color: white
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: flex;
  align-items: center;
  justify-content: center;
}