@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

html {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  font-size: 2vw;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 999;
  font-family: Comfortaa, Helvetica, sans-serif;
}

.header-logo {
  position: relative;
  min-height: auto;
  transition: all 0.5s ease-in-out;
  background-color: black;
}

.header-image img {
  max-width: 65vw;
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: all 0.5s ease-in-out;
  margin: 0 auto;
}

@media (max-width: 800px) {

  /* Mobile */
  .header-image img {
    max-width: 500px;
  }

  nav.header-options ul {
    max-width: auto;
  }
}

@media (min-width: 1100px) {

  /* Desktop */
  nav.header-options ul li a {
    font-size: 1.5vw;
  }
}

nav.header-options {
  position: relative;
  height: 4vw;
  transition: all 0.3s ease-in-out;
  background-color: rgba(33, 104, 120, 1);
}

nav.header-options ul {
  width: 100%;
  height: 100%;
  list-style-type: none;
  max-width: 75vw;
}

nav.header-options ul li {
  height: 100%;
  transition: all 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

nav.header-options ul li:hover {
  padding: 0 20px;
  background-color: rgba(0, 0, 0, 0.2);
  transition: all 0.1s ease-in-out;
}

nav.header-options ul li a {
  text-decoration: none;
  color: white;
  font-weight: 600;
  transition: all 0.1s ease-in-out;
}

nav.header-options ul li a:hover {
  color: white;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

nav.header-options:hover {
  background-color: rgba(60, 104, 120, 1);
  transition: opacity 0.3s ease-in-out;
}

nav.header-options:hover a {
  color: rgb(177, 177, 177);
  transition: all 0.3s ease-in-out;
}

nav.header-options li:hover a {
  color: white;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.header-team-selector {
  position: relative;
  height: 4vw;
  background-color: rgb(160, 160, 160);
  transition: all 0.3s ease-in-out;
}

.header-team {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  cursor: pointer;
  padding: 1rem 0;
}

.header-team:hover {
  background-color: rgba(130, 130, 130, 0.5);
  transition: all 0.3s ease-in-out;
}

.header-team a {
  height: 100%;
}

.header-team img {
  height: 100%;
  width: auto;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 800px) {
  .header-image img {
    min-width: 500px;
  }

  nav.header-options ul {
    max-width: auto;
  }
}

@media (max-width: 1200px) {
  .header-logo {
    height: 7vw;
  }
}

@media (min-width: 1750px) {
  nav.header-options {
    height: 20px;
  }
}

@media (min-width: 1500px) {
  .header-logo {
    height: 5vw;
  }

  nav.header-options ul li a {
    font-size: 3rem;
  }

  nav.header-options {
    height: 2.5vw;
  }

  .header-image img {
    max-width: 50vw;
    width: 100%;
    height: auto;
  }
}

/* Mobile Devices */
@media (max-width: 450px) {
  .header-logo {
    height: 12vw;
  }

  .header-image img {
    max-width: 100px;
  }

  nav.header-options {
    height: 20px;
  }

  nav.header-options ul {
    max-width: 85vw;
  }

  nav.header-options ul li {
    padding: 0 10px;
  }

  nav.header-options ul li:hover {
    padding: 0 10px;
  }
}

#signin-signup-modal {
  display: none;
  overflow: hidden;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.4);
}

#signin-signup-modal .modal-content {
  width: fit-content;
  padding: 4rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url("https://www.montgomerycountymd.gov/rec/Resources/Images/soccer1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  gap: 2rem;
  display: flex;
  flex-direction: row;
}

@media (max-width: 800px) {
  div.modal-content {
    flex-direction: column;
    padding: 2rem;
  }
}


.form-group * {
  width: 100%;
  height: fit-content;
}

div.form-group {
  gap: 1rem;
}

.modal-side {
  gap: 1rem;
}

.modal h2 {
  font-size: 3rem;
  color: white;
}

.modal label {
  font-size: 1.7rem;
  font-family: Comfortaa, Helvetica, sans-serif;
  color: white;
}

.modal input {
  width: 100%;
  height: 100%;
  padding: 1rem;
  border: none;
  border-radius: 5px;
  border: 2px solid rgb(177, 177, 177, 0.5);
  font-size: 1.5rem;
  font-family: Comfortaa, Helvetica, sans-serif;
  opacity: 1;
}

span.close-btn {
  font-family: Comfortaa, Helvetica, sans-serif;
  font-size: 3rem;
  color: white;
  position: absolute;
  top: 0;
  right: 0;
  width: fit-content;
  height: fit-content;
  margin-top: 1rem;
  margin-right: 2rem;
  cursor: pointer;
}

span.close-btn:hover {
  cursor: pointer;
  opacity: 0.6;
  transition: all 0.3s ease-in-out;
}

.form-group label {
  display: flex;
  justify-content: end;
}

.error-message {
  margin-top: 0.5rem;
  padding: 0.1rem 0.5rem;
  background-color: rgba(255, 255, 255, 0.8);
  color: rgb(255, 0, 0);
  font-size: 1.5rem;
  border-radius: 0.5rem;
}