.information-container {
    max-height: 100%;
    position: relative;
    margin: 2rem 0;
    padding: 10px 30px;
    border-radius: 1vw;
}

.standings,
.last-week-results,
.schedule-box {
    margin-bottom: 5vw;
    max-height: fit-content;
    max-width: 100%;
    padding: 2vw 2vw;
    background-color: rgba(240, 248, 255, 0.7);
    border-radius: 1vw;
    z-index: 1;
}

div.last-week-results {
    margin-bottom: 0;
}

div.auth-error-message {
    position: fixed;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    /* Decrease the opacity of the message after 5 seconds */
    animation: fadeOut 5s ease-in-out forwards;
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(80, 80, 80, 0.95);
    padding: 0 5rem;
    border-radius: clamp(1rem, 2vw, 2rem);
}

.auth-error-message p {
    font-size: clamp(3rem, 4vw, 5rem);
    color: rgb(255, 0, 0);
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

@keyframes fadeOut {
    80% {
        opacity: 1;
        z-index: 999;
    }

    99% {
        z-index: 999;
    }

    100% {
        opacity: 0;
        z-index: -1;
    }
}

/* Fix corners for mobile */
@media (max-width: 450px) {

    .standings,
    .last-week-results,
    .schedule-box {
        padding: 2vw 2vw;
        border-radius: 2vw;
    }
}