.information-container {
    max-height: 100%;
    position: relative;
    margin-top: 2rem;
    padding: 10px 30px;
    border-radius: 1vw;
}

.standings,
.last-week-results,
.schedule-box {
    margin-bottom: 5vw;
    max-height: fit-content;
    max-width: 100%;
    padding: 2vw 2vw;
    background-color: rgba(240, 248, 255, 0.7);
    border-radius: 1vw;
    z-index: 1;
}

div.auth-error-message {
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Decrease the opacity of the message after 5 seconds */
    animation: fadeOut 3s ease-in-out forwards;
    z-index: 999;
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding: 0 5rem;
}

.error-message p {
    font-size: clamp(3rem, 4vw, 5rem);
    color: red;
    font-weight: bold;
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

@keyframes fadeOut {
    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/* Fix corners for mobile */
@media (max-width: 450px) {

    .standings,
    .last-week-results,
    .schedule-box {
        padding: 2vw 2vw;
        border-radius: 2vw;
    }
}