.information-container {
    max-height: 100%;
    position: relative;
    margin-top: 2rem;
    padding: 10px 30px;
    border-radius: 1vw;
}

.standings,
.last-week-results,
.schedule-box {
    margin-bottom: 5vw;
    max-height: fit-content;
    max-width: 100%;
    padding: 2vw 2vw;
    background-color: rgba(240, 248, 255, 0.7);
    border-radius: 1vw;
    z-index: 1;
}

/* Fix corners for mobile */
@media (max-width: 450px) {

    .standings,
    .last-week-results,
    .schedule-box {
        padding: 2vw 2vw;
        border-radius: 2vw;
    }
}