main {
    background-color: black;
}

.background {
    position: relative;
    max-height: fit-content;
    overflow: hidden;
    min-height: 100vh;
}

.background-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 0;
}

.standings-container,
.team-container {
    background-color: rgba(255, 255, 255, 0.7);
    position: relative;
    padding: 10px 0;
    max-height: fit-content;
    max-width: 100%;
    margin: 2vw 0;
    border-radius: 2vw;
    z-index: 1;
}

.custom-container {
    margin-left: 5vw;
    margin-right: 5vw;
    padding: 2vw;
}

div.add-team,
div.delete-team {
    background-color: rgba(255, 255, 255, 0.7);
    padding: clamp(1rem, 2vw, 2rem);
    border-radius: clamp(1rem, 2vw, 2rem);
    gap: 2vw;
}

.admin-schedule-options,
.admin-stats-options {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1vw;
    margin-bottom: 1vw;
    padding: 1vw 0;
}

.admin-schedule-options {
    border-bottom: 0.2rem solid rgba(128, 128, 128, 0.4);
}

#add-match-div,
#add-stat-div {
    margin-bottom: 0;
    border-bottom: 0;
}

div.admin-team-options {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 2vw;
    border-radius: 1vw;
    z-index: 1;
    gap: clamp(1rem, 1vw, 2rem);
}

div.admin-team-options-container {
    padding-bottom: 0;
}

.admin-stats-options {
    border-bottom: 0.15rem solid rgba(128, 128, 128, 0.4);
}

button.admin-btn {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: clamp(1rem, 1.5vw, 2.5rem);
    transition: transform 0.2s ease-in-out;
    margin: 0;
}

button.admin-btn:hover {
    cursor: pointer;
    transform: scale(1.1);
}

button.edit-btn {
    background-color: lightgreen;
}

button.edit-btn:hover {
    background-color: rgb(110, 190, 110);
}

button.delete-btn {
    background-color: lightcoral;
}

button.delete-btn:hover {
    background-color: rgb(200, 110, 110);
}

button.edit-field-name {
    margin: clamp(0.5rem, 1vw, 1rem);
}

button.change-lineup-img,
button.change-field-img {
    margin-top: 2vw;
}

.option-modal {
    background-color: rgba(0, 0, 0, 0.4);
}

.option-modal .modal-content {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 2vw;
    border-radius: 1vw;
    margin-left: clamp(15%, 25vw, 25%);
    margin-right: clamp(15%, 25vw, 25%)
}

.option-modal .modal-content {
    padding-top: clamp(4rem, 4vw, 10rem);
    padding-right: clamp(0, 2.5vw, 5rem);
}

.option-modal .modal-content .form-group {
    height: clamp(3rem, 5vw, 5rem);
}

.option-modal .modal-content .close-btn {
    color: black;
    margin-top: 1rem;
    margin-right: 1.5rem;
}

.option-modal .modal-content .control-label {
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    color: black;
}

.option-modal .modal-content .form-group div {
    height: 100%;
}

div.auth-error-message {
    position: fixed;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    /* Decrease the opacity of the message after 5 seconds */
    animation: fadeOut 5s ease-in-out forwards;
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(80, 80, 80, 0.95);
    padding: 0 5rem;
    border-radius: clamp(1rem, 2vw, 2rem);
}

.auth-error-message p {
    font-size: clamp(3rem, 2.5vw, 5rem);
    color: rgb(255, 0, 0);
    margin: 0;
    padding: 0;
}

@keyframes fadeOut {
    80% {
        opacity: 1;
        z-index: 999;
    }

    99% {
        z-index: 999;
    }

    100% {
        opacity: 0;
        z-index: -1;
    }
}