/* Date */
.match-date {
    margin: 0.5vw 0;
}

li.match-date {
    list-style: none;
    font-size: clamp(1.2vw, 1.8vw, 3.5rem);
    padding-left: 5px;
    font-weight: 700;
}

/* Match Information */
.match-information {
    height: clamp(4rem, 7vw, 12rem);
    padding: 1.5vw 2vw;
    border-radius: 0.8vw;
    transition: all 0.1s ease-in-out;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.match-information:hover {
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
    transition: all 0.1s ease-in-out;
    transform: scale(1.02);
    cursor: pointer;
}

.match-information *:hover {
    cursor: pointer;
}

/* MATCH */
.matches-wrapper .match.bordered-bottom {
    border-bottom: 1px solid rgba(128, 128, 128, 0.4);
}

.current-state {
    display: flex;
    justify-content: start;
    width: 12vw;
}

.current-state li {
    width: fit-content;
    height: 100%;
    font-size: clamp(1vw, 1.2vw, 1rem);
    font-weight: 600;
}

.team {
    height: 4vw;
    width: 4vw;
    margin: 0 0.8vw;
    justify-content: center;
}

.home-team,
.away-team {
    width: auto;
    height: 100%;
}

.teams-score {
    width: 30vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.teams-score label {
    position: relative;
    font-size: clamp(1.2vw, 1.5vw, 4rem);
    font-weight: 500;
}

.home-team-name {
    display: flex;
    justify-content: end;
    margin-right: 1rem;
}

.away-team-name {
    display: flex;
    justify-content: start;
    margin-left: 1rem;
}

label.team-name {
    margin: 0;
}

.match-time {
    width: 5vw;
    height: fit-content;
}

.match-time li {
    font-size: clamp(0.9rem, 1.5vw, 4rem);
    font-weight: 500;
}

.score {
    background-color: lightgray;
    border-radius: 0.5vw;
    width: 6vw;
    height: 3vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.home-score {
    margin-left: 1rem;
}

.away-score {
    margin-right: 1rem;
}

.score li {
    font-size: clamp(1.5vw, 2vw, 4rem);
    font-weight: 500;
    margin: 0.3rem;
}

.score.winning-score {
    color: black;
}

.score.losing-score {
    color: gray;
}

.line {
    border-left: 0.1vw solid rgb(158, 158, 158);
    height: 1.8vw;
    margin: 0 0.5vw;
}

/* Referee */
.extra-information {
    height: 100%;
    width: 12vw;
    display: flex;
    justify-content: start;
}

.extra-information li {
    font-size: clamp(0.8vw, 1vw, 1rem);
}

li.field-name {
    color: gray
}

.match-details-modal .modal-content .modal-body .match-details * {
    font-size: clamp(1vw, 2vw, 3rem);
}

.match-details-modal {
    position: fixed;
    visibility: hidden;
    overflow: hidden;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.2);
}

.match-details-modal .modal-content {
    background-color: rgba(240, 240, 240, 0.95);
    margin: 10% 15%;
    border-radius: 1vw;
    padding: clamp(0.5rem, 2.5vw, 5rem);
    overflow: auto;
    height: clamp(40rem, 30vw, 60rem);
}

.match-details-modal .modal-content .close-btn {
    font-size: 2vw;
    cursor: pointer;
    color: black;
    margin: 1rem 2rem;
}

.match-details-modal .modal-content .modal-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;
    padding-bottom: clamp(1rem, 2vw, 3rem);
    margin-top: 5rem;
    border: none;
    color: black;
}

.match-details-modal .modal-content .modal-header h2 {
    font-size: 3vw;
    color: black;
    font-weight: 600;
    margin: 0;
    display: flex;
    align-items: center;
}

.match-details-modal .modal-content .modal-header h3 {
    padding-left: clamp(1.7rem, 1.1vw, 1vw);
    font-size: clamp(1.5vw, 2vw, 3rem);
}

.match-details-modal .modal-content .modal-header .team-logo {
    width: auto;
    height: 5vw;
}

.match-details-modal .modal-content .modal-header div.logo-name {
    gap: 1rem;
    margin: 0;
    padding: 0;
    width: fit-content;
}

.match-details-modal .modal-content div.modal-body {
    padding: clamp(1rem, 2vw, 3rem);
    margin-top: clamp(1rem, 2vw, 3rem);
}

.match-details-modal .modal-content .modal-body .match-details .row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    margin: 0.5rem 0;
}

.match-details-modal .modal-content .modal-body .match-details .row div {
    margin: 0;
    padding: 0;
}

.ht-player,
.at-player {
    display: flex;
    justify-content: start;
    align-items: center;
}

.home-team-player,
.away-team-player {
    height: fit-content
}

.stat-time {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.at-player {
    display: flex;
    justify-content: end;
}

.stat-and-time {
    display: flex;
    flex-direction: row;
    width: 50%;
    height: 100%;
    gap: 1rem;
    height: fit-content;
    align-items: center;
}

.stat-and-time img {
    height: 3vw;
    width: auto;
    display: flex;
}

.home-stat {
    display: flex;
    justify-content: start;
    align-items: center;
}

.away-stat {
    display: flex;
    justify-content: end;
    align-items: center;
}

.stat-and-time div {
    margin: 0;
    padding: 0;
}

label.team-name {
    width: 6vw;
}

div.time {
    text-align: center;
    width: fit-content;
    height: fit-content;
}

@media (max-width: 450px) {

    /* Date */
    .match-date {
        margin: 1vw 0;
    }

    .match-date li {
        list-style: none;
        font-size: 2.5vw;
        padding-left: 5px;
        font-weight: 700;
    }

    /* Match Information */
    .match-information {
        padding: 5px 20px;
        border-radius: 7px;
    }

    /* MATCH */
    .matches-wrapper .match.bordered-bottom {
        border-bottom: 1px solid rgba(128, 128, 128, 0.177);
    }

    .current-state li {
        width: 25px;
        height: 100%;
        font-size: 2vw;
        font-weight: 600;
    }

    .team {
        margin: 0 0.8vw;
    }

    .team img {
        width: auto;
        height: 5vw;
    }

    .teams-score label {
        position: relative;
        font-size: 3.2vw;
    }

    .match-time {
        width: 5vw;
    }

    .score {
        border-radius: 0.5vw;
        width: 9vw;
        height: 5vw;
    }

    .score li {
        font-size: 3vw;
        font-weight: 500;
    }

    .line {
        height: 2.5vw;
    }

    /* Referee */
    /* .extra-information {
        width: 12vw;
    } */

    .extra-information li {
        font-size: 1.1vw;
    }

    /* Modal */
    .match-details-modal .modal-content .modal-header {
        margin: 0;
        padding: 0 1rem;
        margin-top: 2.5rem;
        height: 7vw;
    }

    .match-details-modal .modal-content .modal-header h3,
    .match-details-modal .modal-content .modal-header h2 {
        font-size: 4vw;
        margin: 0;
    }

    .match-details-modal .modal-content .logo-name {
        height: 100%;
    }

    .match-details-modal .modal-content .logo-name .team-logo {
        width: auto;
        height: 100%;
    }

    .match-details-modal .modal-content .logo-name .team-logo img {
        width: auto;
        height: 100%;
    }

    .match-details-modal .modal-content .team-logo {
        width: auto;
        height: 7vw;
    }


    .match-details-modal .modal-content .modal-body {
        padding: 0 1rem;
        margin-top: 1rem;
    }

    .match-details-modal .modal-content .modal-body .match-details * {
        font-size: 2.5vw;
    }

    .match-details-modal .modal-content .row {
        margin: 0;
        padding: 0;
    }
}