body ul {
    margin: 0;
    padding: 0;
}

/* Fix the margin of the schedule container */
.schedule-container {
    background-color: rgba(240, 248, 255, 0.819);
    position: relative;
    padding: 10px 0;
    max-height: fit-content;
    max-width: 100%;
    margin: 2vw 0;
    border-radius: 2vw;
    z-index: 1;
}

.team-selection,
.week-picker {
    border-radius: 1vw;
    height: fit-content;
}

.week-picker a,
.team-selection a {
    height: 100%;
}

.week-picker,
.team-selection {
    z-index: 2;
    height: 100%;
}

.week-picker .btn {
    border-radius: 0;
    border: none;
}

button#previous-week {
    border-radius: 1vw 0 0 1vw;
}

button#next-week {
    border-radius: 0 1vw 1vw 0;
}

.team-selection select {
    border-radius: inherit;
}

div.schedule-options {
    margin: 0;
    padding: 0;
    gap: clamp(1rem, 1.5vw, 3rem);
    margin-bottom: clamp(1rem, 1.5vw, 3rem);
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

div.schedule-options * {
    margin: 0;
    padding: 0;
}

/* Buttons */
.week-picker,
.team-selection {
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
}


/* Font Size */
.week-picker button,
.team-selection select {
    width: fit-content;
    height: 100%;
    padding: clamp(0.5rem, 1.5vw, 3rem);
    font-size: clamp(0.5rem, 1.5vw, 3.5rem);
    border: 1px solid rgba(129, 129, 129, 0.2);
}

.team-selection select:hover,
.week-picker button:hover {
    cursor: pointer;
    background-color: rgba(230, 230, 230, 0.9)
}

.team-selection option {
    font-size: clamp(1rem, 1.5vw, 3.5rem);
}

.add-match-option {
    width: 100%;
}