.standings-container {
    background-color: rgba(255, 255, 255, 0.7);
    position: relative;
    padding: 10px 0;
    max-height: fit-content;
    max-width: 100%;
    margin: 2vw 0;
    border-radius: 2vw;
    z-index: 1;
}

.cont {
    margin: 0 4vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.standings-choice-buttons-group {
    display: flex;
    justify-content: space-around;
    width: 90%;
    padding: 0 clamp(0.5rem, 5vw, 3rem);
    height: clamp(3rem, 7vw, 12rem);
    align-items: center;
    border-radius: 1.5vw;
    background: rgba(114, 114, 114, 0.5);
    font-family: sans-serif;
    margin-bottom: 2vw;
}

.standings-choice-buttons-group-button {
    background-color: white;
    padding: clamp(0.3rem, 0.8vw, 1rem) clamp(1rem, 5vw, 10rem);
    border-radius: clamp(0.5rem, 1vw, 2rem);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    font-size: clamp(1rem, 2vw, 3.2rem);
    position: relative;
    cursor: pointer;
}

.standings-choice-buttons-group:hover a {
    background-color: rgb(174, 174, 174);
    color: rgb(92, 92, 92);
}

.standings-choice-buttons-group a:hover {
    background-color: white;
    color: black;
    border-radius: 2vw;
    text-decoration: none;
    transform: scale(1.1);
}