.standings-table {
    display: flex;
    flex-direction: column;
    padding: 2vw auto;
    transition: ease-in-out 0.5s;
    width: 100%;
    overflow-x: scroll;
    border-radius: 1vw;
    flex-wrap: nowrap;
    border-radius: clamp(1vw, 2vw, 3rem);
}

.standings-table table#teams-table {
    border-collapse: separate;
}

.standings-table table th,
.standings-table table td {
    white-space: nowrap;
}

tbody td {
    text-align: center;
    min-width: clamp(4rem, 9vw, 12rem);
    /* set a minimum width for the cells */
}

thead,
tbody {
    position: sticky;
}

thead th.sticky-rank,
thead th.sticky-team,
thead th.sticky-points,
tbody td.rank-td,
tbody td.team-td,
tbody td.points-td {
    position: sticky;
    background-color: rgb(70, 70, 70);
    z-index: 2;
}

thead th.sticky-rank {
    left: 0;
}

thead th.sticky-team {
    left: 0;
    border-top-right-radius: 1vw;
}

thead th.sticky-points {
    right: 0;
    border-top-left-radius: 1vw;
}

.header-button i {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

tbody td {
    font-family: monospace;
    font-weight: bold;
    font-size: clamp(1rem, 2vw, 3.2rem);
}

tbody td div,
tbody td a.name-team,
thead a.header-button {
    font-size: clamp(1rem, 2vw, 3.2rem);
}

td.rank-td {
    padding: 0 1vw;
    z-index: 1;
}

td.rank-td,
td.team-td {
    left: 0;
}

td.points-td {
    right: 0;
}

td.rank-td div,
td.team-td div,
td.points-td {
    color: white;
    font-weight: bold;
}

.standings-container th {
    padding: 0 clamp(0.5rem, 1vw, 1rem);
}

.standings-table a.header-button {
    width: fit-content;
    margin: 0 auto;
    padding: 0.5vw;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 1vw;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.7);
    text-decoration: none;
    color: black;
    position: relative;
    opacity: ease-in-out 0.5s;
}

.standings-table a.rank-btn,
.standings-table a.team-btn,
.standings-table a.wins-btn,
.standings-table a.points-btn,
.standings-table a.player-btn {
    cursor: pointer;
}

.standings-table a.rank-btn:hover,
.standings-table a.team-btn:hover,
.standings-table a.wins-btn:hover,
.standings-table a.points-btn:hover,
.standings-table a.player-btn:hover {
    background-color: rgba(220, 220, 220, 0.8);
}

.team-th a.header-button {
    width: 60%;
}

.wins-btn,
.draws-btn,
.losses-btn,
.goals-for-btn,
.goals-against-btn,
.goal-diff-btn,
.rank-btn,
.team-btn,
.points-btn,
.matches-btn,
.player-btn {
    display: flex;
    justify-content: center;
}

tbody td {
    text-align: center;
}

.standings-table table tr {
    height: clamp(2rem, 6vw, 12rem);
}

[class^="ranking"] {
    border-radius: 1vw 0 0 1vw;
}

.ranking1 {
    background-color: rgb(58, 162, 3);
}

.ranking2 {
    background-color: rgb(162, 154, 3);
}

.ranking3 {
    background-color: rgb(162, 3, 3);
}

[class^="ranking"]:not(.ranking1):not(.ranking2):not(.ranking3) {
    background-color: rgb(168, 168, 168);
}

.team-td {
    position: relative;
}

.logo-team a {
    width: 2vw;
    left: 0;
}

.team-td div img {
    width: auto;
    height: 4vw;
    position: relative;
}

.team-td div {
    display: flex;
    justify-content: start;
    width: fit-content;
}

.team-td a.name-team {
    color: white;
    text-decoration: none;
    margin-left: 0.8vw;
    display: flex;
    align-self: center;
    width: fit-content;
}