.lineup-field-container {
    max-width: 100%;
    margin: 0;
}

.team-lineup,
.field-info {
    max-width: 50%;
    width: 100%;
    margin: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.admin-team-lineup-options,
.admin-team-field-options {
    margin-top: clamp(1rem, 2vw, 2rem);
}

.admin-player-options {
    width: 94%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: clamp(1rem, 2vw, 2rem);
}

#add-player-div {
    padding-top: 2vw;
    border-top: clamp(0.05rem, 0.2vw, 0.2rem) solid rgba(128, 128, 128, 0.3);
}

.field-info p {
    color: white;
    font-size: clamp(1rem, 2vw, 2.2rem);
    margin: clamp(0.5rem, 1vw, 1rem);
}

.field-info p:hover {
    color: rgb(220, 220, 220);
    cursor: pointer;
}

th a {
    display: flex;
    flex-wrap: nowrap;
}

@media (min-width: 1400px) {

    .team-lineup,
    .field-info {
        max-width: 40%;
    }
}

.team-lineup img,
.field-info img {
    height: 100%;
    width: clamp(10rem, 40vw, 73rem);
    border-radius: 1vw;
    object-fit: cover;
}

.field-info img {
    border-radius: 1vw 1vw 0 0;
}

.field-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1vw;
}

.field-info a {
    font-style: italic;
    color: lightgray;
    width: fit-content;
}

.field-info a:hover {
    color: rgb(229, 229, 229);
    text-decoration: none;
}

.team-container .field-name {
    background-color: black;
    width: clamp(10rem, 40vw, 73rem);
    border-radius: 0 0 1vw 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ------------- Players Table ----------- */
.player-info {
    padding: 2vw auto;
    margin: 2vw;
    max-width: 95%;
    position: relative;
    border-radius: 1.5vw;
    background-color: rgba(255, 255, 255, 0.7);
    overflow-x: scroll;
}

.players-table th,
.players-table td {
    white-space: nowrap;
}

.player-info table td {
    white-space: nowrap;
    padding: 0.5vw 1.5vw;
    text-align: center;
}

table.players-table thead tr th {
    padding: 1.5vw 1vw;
    text-align: center;
    white-space: nowrap;
}

table.players-table tbody td {
    min-width: 10vw;
}

table.players-table table td.edit-delete-player {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 40vw;
}

thead,
tbody {
    position: sticky;
}

.players-table thead tr th {
    border: 0;
}

th.name-header,
td.name-sticky {
    position: sticky;
    left: 0;
    background-color: rgb(70, 70, 70);
    z-index: 2;
}

td.name-sticky {
    padding: 0 1vw;
    color: white;
    cursor: pointer;
}

td.name-sticky:hover {
    color: rgb(220, 220, 220);
    background-color: gray;
}


a.header-button {
    width: fit-content;
    margin: 0 auto;
    padding: 0.5vw;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 1vw;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.7);
    text-decoration: none;
    color: black;
    position: relative;
    cursor: pointer;
}

thead th a.header-button:hover {
    background-color: rgba(231, 231, 231, 0.7);
}

/* MODAL */
#player-info-modal .modal-content .modal-body .match-details * {
    font-size: clamp(1vw, 2vw, 3rem);
}

.player-info-modal {
    visibility: hidden;
    overflow: hidden;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.2);
}

.player-info-modal .modal-content {
    background-color: rgba(240, 240, 240, 0.95);
    margin: 10% 15%;
    border-radius: 1vw;
    padding: 0;
    overflow: auto;
    width: fit-content;
    height: fit-content;
}

.player-info-modal .modal-content div.close-btn {
    font-size: clamp(1rem, 1.5vw, 3rem);
    cursor: pointer;
    color: black;
    position: absolute;
    top: 0;
    right: 0;
    margin: clamp(0.5rem, 1vw, 1rem) clamp(0.5rem, 1.5vw, 3rem);
}

.player-info-modal .modal-content .modal-header {
    justify-content: space-between;
    border: none;
    color: black;
    gap: clamp(1rem, 2vw, 2rem);
    padding: clamp(2rem, 2vw, 5rem);
}

.player-info-modal .modal-content .modal-header div.player-name {
    font-size: clamp(1.5rem, 2.5vw, 5rem);
    font-weight: 600;
}

.player-info-modal .modal-content div.modal-body {
    padding: 0 clamp(2rem, 2vw, 5rem);
    padding-bottom: clamp(2rem, 2vw, 5rem);
    margin-top: clamp(1rem, 2vw, 2rem);
}

.player-info-modal .modal-content .modal-body p {
    font-size: clamp(1rem, 2vw, 3rem);
}